<h2 mat-dialog-title>Política de Conocimiento del Cliente y del Usuario</h2>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <h1>Política de Conocimiento del Cliente y del Usuario</h1>

    <div class="section">
      <h2>Datos Personales</h2>
      <p><span class="bold">Nombre:</span> Brayán Daniel Mendiola Gutiérrez</p>
      <p><span class="bold">Género:</span> Masculino</p>
      <p><span class="bold">Fecha de Nacimiento:</span> 12 de Septiembre de 2003</p>
      <p><span class="bold">Nacionalidad:</span> Mexicana</p>
      <p><span class="bold">CURP:</span> MEGB030912HGTNTRA2</p>
      <p><span class="bold">RFC:</span> MEGB030912YYY</p>
      <p><span class="bold">Estado Civil:</span> Soltero</p>
    </div>

    <div class="section">
      <h2>Dirección Particular</h2>
      <p><span class="bold">Calle:</span> Libertad</p>
      <p><span class="bold">Número Exterior:</span> 1</p>
      <p><span class="bold">Colonia:</span> Lindavista</p>
      <p><span class="bold">Municipio:</span> Dolores Hidalgo Cuna de la Independencia Nacional</p>
      <p><span class="bold">Estado:</span> Guanajuato</p>
      <p><span class="bold">Código Postal:</span> 37806</p>
      <p><span class="bold">Número de Teléfono:</span> 4184587952</p>
      <p><span class="bold">Correo Electrónico:</span> ejemplogmail.com</p>
    </div>

    <div class="section">
      <h2>Datos Laborales</h2>
      <p><span class="bold">Ocupación:</span> Programador de sistemas computacionales</p>
      <p><span class="bold">Empresa:</span> LKS de CV de SA</p>
      <p><span class="bold">Tipo de Contrato:</span> Indefinido</p>
      <p><span class="bold">Fecha de Inicio:</span> 01 de Enero de 2024</p>
    </div>

    <div class="section">
      <h2>Bienes y Servicios</h2>
      <p><span class="bold">Bien:</span> Automóvil (Jetta 2023)</p>
      <p><span class="bold">Valor Aproximado:</span> $20,000</p>
      <p><span class="bold">Servicios:</span> Drenaje, Agua Potable, Energía Eléctrica</p>
    </div>

    <div class="section">
      <h2>Finalidad de la Cuenta</h2>
      <p><span class="bold">Finalidades:</span> Ahorro, Crédito, Invertir</p>
    </div>

    <div class="section">
      <h2>Documentación</h2>
      <p><span class="bold">Identificación:</span> INE</p>
      <p><span class="bold">Número de Identificación:</span> 0768131505302</p>
      <p><span class="bold">Clave Única de Registro de Población (CURP):</span> MEGB030912HGTNTRA2</p>
      <p><span class="bold">Número de Serie de la Firma Electrónica:</span> N/A</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CERRAR</button>
</mat-dialog-actions>