<mat-dialog-content class="mat-typography">
  <div class="container">
    <h1>Política de Conocimiento del Cliente y del Usuario</h1>

    <h2>Información del Cliente</h2>
    <p><strong>Nombre:</strong> {{ data.nombre_cl }}</p>
    <p><strong>Numero de Cliente:</strong> {{ data.numero_cliente }}</p>
    <p><strong>Status:</strong> {{ data.estatus ? 'Activo' : 'Inactivo' }}</p>
    <p><strong>CURP:</strong> {{ data.curp }}</p>
    <p><strong>Nacionalidad:</strong> {{ data.nacionalidad }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CERRAR</button>
</mat-dialog-actions>